<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 28px;
    text-transform: uppercase; /* 添加大写字母转换 */
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #555; /* 添加导航背景颜色 */
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px; /* 添加导航链接内边距 */
    border-radius: 3px; /* 添加导航链接圆角 */
    transition: background-color 0.3s; /* 添加背景颜色过渡效果 */
  }

  nav ul li a:hover {
    background-color: #777; /* 修改为你喜欢的悬停背景颜色 */
  }

  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加内容区域阴影效果 */
  }

  .intro a {
    color: #333;
    text-decoration: underline;
  }

  .features {
    margin-top: 20px;
  }

  .features h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555; /* 修改特征标题颜色 */
  }

  .features ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
</style>

